.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  color: whitesmoke;
  top: 0;
  height:60px;
  background-color:  #333333;
  width: 100%;
  font-family: Montserrat;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  width: 85px;
  object-fit: cover;

}

.navbar-lewagon a{
  color: whitesmoke;
}
